<nav>
    <ul>
      <li class="dropdown">
        <a href="#">Services +</a>
        <ul class="dropdown-content">
          <li><a href="{% url 'python_automation' %}">Python – Based Intelligent Automation</a></li>
          <li><a href="{% url 'rpa' %}">Robotic Process Automation (RPA)</a></li>
          <li><a href="{% url 'idp' %}">Intelligent Document Processing</a></li>
          <li><a href="{% url 'chatbot' %}">ChatBot</a></li>
        </ul>
      </li>
  
      <li class="dropdown">
        <a href="#">Industries +</a>
        <ul class="dropdown-content">
          <li><a href="{% url 'manufacturing' %}">Manufacturing</a></li>
          <li><a href="{% url 'healthcare' %}">Healthcare</a></li>
          <li><a href="{% url 'finance' %}">Finance</a></li>
        </ul>
      </li>
  
      <li><a href="#">About Us</a></li>
      <li><a href="#">Career</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  